TrihardiOS/Web References/trackSvc/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://go-heja.com/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://go-heja.com/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/tracker_srv" />
  <xs:import schemaLocation="http://go-heja.com/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
  <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
  <xs:element name="updateMomgoData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="speed" type="xs:float" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dist" type="xs:float" />
        <xs:element minOccurs="0" name="alt" type="xs:float" />
        <xs:element minOccurs="0" name="bearing" type="xs:float" />
        <xs:element minOccurs="0" name="recordType" type="xs:int" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMomgoDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="syncSuunto60">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="syncSuunto60Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="syncSuunto60Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="installg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="installgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installgResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convertUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convertUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="convertUsersResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convertEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convertEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="convertEventsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMobTotalsGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMobTotalsGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMobTotalsGraphResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPractice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="generaldata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durHrs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durMin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tss" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="markersJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPracticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPracticeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEventInCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="practiceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEventInCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setEventInCalendarResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="restPasword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="restPaswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="restPaswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventTotalsMob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventTotalsMobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEventTotalsMobResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPracticeTotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventDateTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPracticeTotalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPracticeTotalsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetEventTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetEventTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resetEventTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMarker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="markerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mLat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mLng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="interval" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMarkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateMarkerResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testPmc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:int" />
        <xs:element minOccurs="0" name="pmc" type="xs:float" />
        <xs:element minOccurs="0" name="type" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testPmcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="testPmcResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrackPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTrackPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTrackPointsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGroupsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoachWeekTotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoachWeekTotalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCoachWeekTotalsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMarkersByPractice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMarkersByPracticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllMarkersByPracticeResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="athGeneralList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="athGeneralListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athGeneralListResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertMultiToGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="athList" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertMultiToGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertMultiToGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEventReportResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMomgoDataFromFoxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="speed" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMomgoDataFromFoxiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="athGauges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="athGaugesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athGaugesResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFutureEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFutureEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFutureEventResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMomgoCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventTotal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="programStart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="programEnd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tss" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durHrs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durMin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAttend" type="xs:int" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMomgoCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateMomgoCalendarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGarminData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uploadid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mongo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateGarminDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateGarminDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGraphData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGraphDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGraphDataResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="athCurrDataMongo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="athCurrDataMongoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="athCurrDataMongoResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAthNameById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAthNameByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAthNameByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/tracker_srv" minOccurs="0" name="composite" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/tracker_srv" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMarker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="markerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMarkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteMarkerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMarker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mLat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mLng" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="interval" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMarkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMarkerResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateNickName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateNickNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateNickNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMarkersById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMarkersByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllMarkersByIdResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="generaldata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durHrs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durMin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tss" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="generaldata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durHrs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="durMin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tss" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventIdByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventIdByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEventIdByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventIdByNameForMarkers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventIdByNameForMarkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEventIdByNameForMarkersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getcurrentEventByDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getcurrentEventByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getcurrentEventByDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventNameById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventNameByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEventNameByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getErrprFromMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getErrprFromMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getErrprFromMobileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventMob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventMobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEventMobResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePractice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practiceJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePracticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePracticeResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNewProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNewProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertNewProgramResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="populateProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="programDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="populateProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="populateProgramResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProgramsJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programJson" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProgramsJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateProgramsJsonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="athCurrDataByDeviceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="athCurrDataByDeviceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athCurrDataByDeviceIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGauge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textSize" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGaugeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="getGaugeResult" nillable="true" type="q5:ArrayOfBsonElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGaugeMob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textSize" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGaugeMobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGaugeMobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkProgramName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkProgramNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkProgramNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProgramResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUserImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageByteData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUserImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveUserImageResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteProgramResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListedDeviceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListedDeviceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getListedDeviceIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="attendReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="attendReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attendReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="programsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="programsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programsListResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventsListResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNewDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acceptedTerms" type="xs:boolean" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNewDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertNewDeviceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sessionUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sessionUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStartMarkerPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStartMarkerPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStartMarkerPositionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventDateNameId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventDateNameIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEventDateNameIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="groupResultsMongo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="groupResultsMongoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groupResultsMongoResult" nillable="true" type="q6:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPerformanceFordate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPerformanceFordateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPerformanceFordateResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyTrailForEventMongo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyTrailForEventMongoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getMyTrailForEventMongoResult" nillable="true" type="q7:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAthDataByDeviceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAthDataByDeviceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAthDataByDeviceIdResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserCalendarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserDataJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="json" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updatedById" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserDataJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserDataJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCalendarFuture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCalendarFutureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserCalendarFutureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCalendarPast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCalendarPastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserCalendarPastResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setCommentsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCommentsCoach">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCommentsCoachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setCommentsCoachResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsrObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsrObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUsrObjectResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPmc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserPmcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserPmcResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGaugesForMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGaugesForMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGaugesForMonthResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompUserKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comp" type="xs:int" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompUserKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCompUserKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="syncSuunto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="syncSuuntoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="syncSuuntoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrcticeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrcticeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPrcticeListResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCalendarToday">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserCalendarTodayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserCalendarTodayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSubGroupName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSubGroupNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateSubGroupNameResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsrLoginData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsrLoginDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUsrLoginDataResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetCalendarEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tss" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetCalendarEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resetCalendarEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEventGraphResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNearestEventMakers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNearestEventMakersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNearestEventMakersResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="athData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="athDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athDataResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMultiFromGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="athList" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMultiFromGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeMultiFromGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCommentsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fieldAthletsAndEvenets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fieldAthletsAndEvenetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fieldAthletsAndEvenetsResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMomgoGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupid" type="xs:int" />
        <xs:element minOccurs="0" name="subGroupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userNickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userImg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMomgoGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateMomgoGroupsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeAthFromGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeAthFromGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeAthFromGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupid" type="xs:int" />
        <xs:element minOccurs="0" name="userNickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFromGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFromGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIyemsForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIyemsForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getIyemsForGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="replaceUtil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="replaceUtilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="replaceUtilResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPmc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPmcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPmcResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllathForGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllathForGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllathForGroupResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBestResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBestResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBestResultsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNearestEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNearestEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="getNearestEventResult" nillable="true" type="q11:ArrayOfArrayOfBsonElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBestResultsForAth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="save" type="xs:boolean" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBestResultsForAthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getBestResultsForAthResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMeberNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usernn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attended" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="distance" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trainScore" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMeberNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateMeberNotesResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNotesMob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNotesMobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNotesMobResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getEventInfoResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validatSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usrId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validatSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validatSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsrGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsrGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUsrGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAthPersonalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="athId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageByteData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="specGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateAthPersonalDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>