TrihardAndroid/Web References/trackSvc/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MongoDB.Bson" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://go-heja.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBsonElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BsonElement" type="tns:BsonElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBsonElement" nillable="true" type="tns:ArrayOfBsonElement" />
  <xs:complexType name="BsonElement">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_name" nillable="true" type="xs:string" />
      <xs:element name="_value" nillable="true" type="tns:BsonValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BsonElement" nillable="true" type="tns:BsonElement" />
  <xs:complexType name="BsonValue">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BsonValue" nillable="true" type="tns:BsonValue" />
  <xs:complexType name="ArrayOfArrayOfBsonElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfBsonElement" nillable="true" type="tns:ArrayOfBsonElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfBsonElement" nillable="true" type="tns:ArrayOfArrayOfBsonElement" />
</xs:schema>